.banner {
/*  width: 100%;
  min-height: 65vh;
  margin-top: 78px;
  display: flex;
  background: url(../img/contact/contact.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
}
.banner .heading{
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  text-transform: capitalize;
}

/* -- contact --  */
.contact-us {
  position: relative;
  background: url(../img/home/contact/contact.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: -15px;
  margin-top: -20px;
}
.contact-us .heading {
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.contact-us .img-over img {
  display: block;
  height: 140px;
  position: absolute;
  top: 40%;
  left: 40px;
  transform: translateY(-50%);
}
.contact-us .img-over img:first-child {
  left: auto;
  right: 20px;
  height: 520px;
  border-radius: 20px;
}
.contact-us .max-theme-width {
  max-width: 45%;
  margin-bottom: 70px;
}
.contact-us .contact-heading {
  width: 50%;
  margin: auto;
}
.contact-us .para {
  color: #adadad;
  font-size: 16px;
  font-weight: 500;
  margin: 35px 0;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
.contact-us .form-card textarea {
  height: 150px !important;
}
.contact-us .form-card .form-control {
  padding: 18px 30px;
  height: auto;
  font-size: 14px;
  background: #ffffff2e;
  border: none;
  color: #fff;
}
.contact-us .form-card .form-control::placeholder {
  color: silver;
}
.contact-us .form-card .captcha img {
  margin-top: -19px;
  margin-left: -27px;
}
.contact-us .form-card .btn-div {
  margin-top: -20px;
}
.contact-us .form-card .btn-div .btn-accent-cancel {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #5c5c5c;
  height: 50px;
  text-align: center;
  border: 1px solid #5c5c5c;
  border-radius: 100px;
  margin-left: 10px;
}
.contact-us .btn-submit {
  font-size: 14px;
  padding: 5px 40px;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
  height: 50px;
  text-align: center;
  margin-top: 25px;
  border: none;
  background: hsl(45deg 98% 50%);
  background-size: 300% 100%;
  border-radius: 50px;
}

/* ===== MEDIA QUERY ====== */

@media only screen and (max-width: 770px) {
  .banner .heading{
    font-size: 45px;
  }
  .contact-us .contact-heading {
    width: 70%;
  }
  .contact-us .max-theme-width {
    min-width: 65%;
  }
  .banner .heading {
    padding-top: 40px;
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 500px) {
  /* -- banner --  */
  .banner {
    margin-top: 74px;
    background-position: 70%;
  }
  .banner .heading{
    font-size: 50px;
  }
  /* -- contact --  */
  .contact-us .img-over {
    display: none;
  }
  .contact-us .heading {
    font-size: 25px;
  }
  .contact-us .contact-heading {
    width: 100%;
  }
  .contact-us .max-theme-width {
    max-width: 100%;
  }
  .contact-us .form-card .captcha img {
    max-width: 250px;
  }
  .contact-us .form-card .captcha img {
    margin-top: -11px;
    margin-left: -13px;
    margin-bottom: 30px;
  }
  .contact-us .form-card .btn-div .btn-accent-cancel {
    width: 120px;
    font-size: 12px;
    height: 40px;
    margin-top: -40px;
  }
}
